* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.logo {
  background-image: url("amazon logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}

/*box2*/
.add-first {
  color: #cccccc;
  font-size: 1rem;
}

.add-second {
  font-size: 1rem;
}

.add-icon {
  display: flex;
  align-items: center;
}

/**box3 **/
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

.nav-search:hover {
  border: 2px solid orange;
}

/** box 4 **/

span {
  font-size: 0.85rem;
  font-weight: 700;
}

/**box6**/
.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/**panel**/
.panel {
  height: 40px;
  background-color: #222f32;
  display: flex;
  color: rgb(248, 246, 246);
  align-items: center;
  justify-content: space-evenly;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
}

.panel-ops {
  width: 70%;
  font-size: 0.58rem;
}

.panel-deal {
  font-size: 0.9rem;
  font-weight: 700;
}

/**hero section**/
.hero-section{
  height: 400px;
}
.hero-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  background-image: url("/asset/img/asset\ 1.jpeg");
  background-size: cover;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}


.shop section .shop-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}


.footer {
  text-align: start;
  margin-top: 30px;
}


.card-list{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cards{
  margin: 5px;
  padding: 20px 5px;
  box-shadow: 0px 0px 5px grey;
  background-color: #f6f0f0;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 10px;

}

.card-section{
  background-color: transparent;
}